{% extends 'shopapp/base.html' %}

{% block title %}   <!-- Начало блока заголовка -->
    Shop INDEX      <!-- Содержимое заголовка -->
{% endblock %}      <!-- конец блока заголовка -->


{% block body %}    <!-- Начало блока тела страницы -->
<h1> Hello Shop Index !!!</h1>

<div>
<ul>    <!-- Маркированный список -->
    {% for name, price in products %}    <!-- Цикл по продуктам, перебираем name и price для каждого продукта -->
        <li>{{ name }} ({{name|length}}) for ${{ price }}</li>    <!-- Элемент списка с именем продукта, его длиной и ценой -->
        {% if name|length == 7 %}    <!-- Условие: если длина имени продукта равна 7 символам -->
            <span>Lucky product!</span>    <!-- Сообщение "Lucky product!", если условие выполняется -->
        {% endif %}    <!-- Конец условия -->
    {% empty %}    <!-- Блок выполняется, если список продуктов пустой -->
        No products here    <!-- Сообщение, если продуктов нет -->
    {% endfor %}    <!-- Конец цикла -->
</ul>    <!-- Конец маркированного списка -->

</div>


<div>
    Time running: {{ time_running }}
</div>

<div>
    {% lorem 3 p random %}
</div>

{% endblock %}  <!-- Конец блока тела страницы -->